---
layout: default
---

<div class="home">
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 245 }'>
  {% for image in site.photo_gallery %}
    <div class="grid-item">
      <img src="{{ image.image_path }}" width="245" alt="{{ image.title }}">
    </div>
  {% endfor %}
</div>
<!--   <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
 -->
<!--   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 -->
</div>
