<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
          <li><a target="_blank" href="https://www.google.com/maps/dir/62 Mcbrine Pl, Kitchener, ON N2R 1H3/">62 Mcbrine Pl, Kitchener, ON N2R 1H3</a></li>
        </ul>
      </div>

<!--       <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div> -->

      <div class="footer-col footer-col-3">



        <!-- <p>{{ site.description }}</p> -->
      </div>
      <iframe
  width="100%"
  height="200"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDJbsV7pj2L-6LkXxSLDud3w_aYY4NHYHM
    &q=62+Mcbrine+Pl,+Kitchener,+ON+N2R+1H3" allowfullscreen>
</iframe>

    </div>

  </div>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script>
  var $grid = $('.grid').imagesLoaded( function() {
    // init Masonry after all images have loaded
    $grid.masonry();
  });
</script>
